*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
h1{text-align: center;padding: 10px 0;}
#gnb{
    width: 600px;
    margin: 0 auto;
}
#gnb .m.on > a{
    border-bottom: 4px solid #725f3f;
    box-sizing: border-box;
}
/* .on{border-top: 4px solid #725f3f;} */

#gnb .m > a{
    height: 40px;
    font-size: 1.4em;
    display: block;
    line-height: 40px;
    text-align: center;
}

#gnb .m ul{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: #000;
    display: none;
}

#gnb .m ul li a{
    display: block;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    text-align: center;
}

#gnb .m ul li a:hover, 
#gnb .m ul li a:focus{
    background: #fff;
    color: #000;
}

.m{
    float: left;
    width: 120px;
    position: relative;
}

#visual{
    clear: both;
    background: url(../images/f4.jpg) no-repeat center center;
    height: 300px;
}

#visual a{
    display: none;
}